:root {
    /* purples */
    --main-purple: #8A09C1;

    /* greys */
    --light-grey: #cccccc;
    --medium-grey: #808080;
}

html, body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.expense-panel {
    height: 70vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--light-grey);
}

.expense-panel-header {
    justify-content: center;
    margin: 0 auto;
    width: 96%;
    height: 50px;
    align-items: center;
    border-bottom: 0.5px solid var(--light-grey);
}

.header {
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Barcode 128 Text', sans-serif;
    font-size: 16pt;
    height: 10vh;
    width: 100%;
    background-color: var(--main-purple);
    color: white;
    box-shadow: 0 0 20px var(--medium-grey);
    margin-bottom: 50px;
}

.header * {
    margin: 0 20px;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

